<IfModule authz_core_module>
    Require all denied
</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Protect application and system directories
    RewriteRule ^(app|system|writable)/.* index.php/$0 [L]

    # Allow any files or directories that exist to be displayed directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other URLs to index.php/URL
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Jika mod_rewrite tidak diaktifkan, Anda dapat menambahkan tindakan yang sesuai di sini, seperti menampilkan pesan kesalahan.
    # Misalnya, Anda dapat mengarahkan pengguna ke halaman kesalahan atau mengeluarkan pesan kesalahan.
</IfModule>
